.friend_name{
    font-weight:700;
}

.friends_plus{
    padding:20px 0px;
    border-bottom:1px solid #f7f7f7;    
    border-top:1px solid #f7f7f7;
    margin:20px 0px;
}

.friends_plus .friends_plus-title,
.friends_list .friends_plus-title
{
    margin-bottom:10px;
    font-size:14px;
    opacity: 0.7;
}

.friends_now-listening{
    padding:5px 12px;
    border-radius: 15px;
    border:2px solid #52e084;
    font-size:14px;
}

.friends_now-listening span{
    opacity: 0.7;
}